{
  "presets": [
    [ "@babel/env", {
      "targets": {
        "node": "10"
      },
      "useBuiltIns": "usage",
      "corejs": 3,
      "modules": false
    }],
    "@babel/typescript"
  ],
  "plugins": [
    ["@babel/plugin-transform-runtime", {
      "regenerator": true
    }]
  ],
  "sourceType": "unambiguous"
}