module.exports = {
	// API settings
	url: 'ws://localhost:5600/api/v1/', // Note: A TLS URL (wss://) with a self signed/invalid certificate won't work
	username: 'myusername',
	password: 'mypassword',

	// Reconnect
	autoReconnect: true,
	reconnectInterval: 10,

	// Logging
	logLevel: 'debug',
	ignoredListenerEvents: [

	],

	// Avoid spamming when the dev server is started
	ignoredRequestPaths: [
		'sessions/authorize',
		'extensions'
	],
};